/* side */
.side-bar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #05040e;
}

ul.menu-list {
  list-style: none;
}

/* content */
.content {
  width: 100%;
  padding-left: 200px;
}

.article {
  padding: 20px;
}

.container-grid {
    width: 100%;
    border: 1px solid #f5f5f5;
}

.container-pagenation {
    width: 100%;
}